In [2]:
import pandas as pd
dfp = pd.read_csv('https://raw.githubusercontent.com/Esther-Velasco/mid_term_project/main/4_countries_wage.csv', sep=',',skiprows=3)
dfp

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,26.213394,26.564049,26.640327,26.816008,27.016402,27.019002,25.895358,26.108689,NaN,NaN
2,Afghanistan,AFG,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,13.982730,15.153190,16.364920,17.549590,17.212950,16.826990,15.666040,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.295082,18.603260,18.883041,19.212620,19.658150,20.202038,18.782412,19.188126,NaN,NaN
4,Angola,AGO,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,36.665630,36.894000,36.684140,36.380580,35.895090,35.283390,33.736070,34.147800,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,50.599570,48.540430,46.832630,45.375260,44.515430,44.094770,42.756400,43.198990,NaN,NaN
263,South Africa,ZAF,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.870770,85.411720,84.884380,84.531380,84.427730,83.661110,83.277940,83.482050,NaN,NaN
264,Zambia,ZMB,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,21.669740,22.134640,22.679050,23.259080,23.966750,24.576130,22.847710,23.259120,NaN,NaN
265,Zimbabwe,ZWE,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,33.914030,33.689030,33.423340,33.389130,33.435970,32.253140,31.438140,31.963440,NaN,NaN